<template>
   <section id="prices">
            <div class="container">
                <div class="row">
                    <div class="aligncenter">
                        <h3><strong>{{widetitle}}</strong></h3>
                        <p style="font-size: x-large">{{widesubtitle}}
                        </p>
                    </div>
    
                            <div class="span3" v-for="price in pricing" :key="price.title">
                                <div class="pricing-box-wrap animated-fast flyIn" style="width: 120%;">
                                    <div class="pricing-heading" style="background:#008fee" v-if="price.is_bestseller">
                                        
                                        <img v-if="price.is_bestseller" src="assets/bestseller.png" class="ribbon" style=" position: absolute;top: -8px;left: -8px;" />
                                        <h3 style=" color: black"><strong>{{price.title}}</strong></h3>
                                    </div>
                                    <div class="pricing-heading" style="background:#ffffff" v-else>
                                        
                                        <img v-if="price.is_bestseller" src="assets/bestseller.png" class="ribbon" style=" position: absolute;top: -8px;left: -8px;" />
                                        <h3 style=" color: black"><strong>{{price.title}}</strong></h3>
                                    </div>
                                    <div class="pricing-terms is_bestseller" style="background:#008fee;border: 0px solid #e6e6e6;" v-if="price.is_bestseller">
                                    <h7 style=" color: white;" v-if="price.is_bestseller"><s>{{price.real_price}}</s></h7>
                                            <h7 style=" color: black;" v-else><s>{{price.real_price}}</s></h7>

                                            <h4 style=" color: white;" v-if="price.is_bestseller">{{price.real_price}}</h4>
                                            <h4 style=" color: black;" v-else>{{price.real_price}}</h4>
                                    </div>
                                    <div class="pricing-terms" style="background:#ffffff;border: 1px solid #e6e6e6;" v-else>
                                            <h7 style=" color: white;" v-if="price.is_bestseller"><s>{{price.real_price}}</s></h7>
                                            <h7 style=" color: black;" v-else><s>{{price.real_price}}</s></h7>

                                            <h4 style=" color: white;" v-if="price.is_bestseller">{{price.real_price}}</h4>
                                            <h4 style=" color: black;" v-else>{{price.real_price}}</h4>
                                    </div>
                                    <div class="pricing-terms" style="background: #007fde;border: 0px solid #e6e6e6;padding: 0px 0 0px;" v-if="price.is_bestseller">
                                        <h6 style=" color: black;"><strong>{{price.user_count}}</strong> Pengguna Terdaftar</h6>
                                    </div>
                                    <div class="pricing-terms" style="background: #ffffff;border: 1px solid #e6e6e6;padding: 0px 0 0px;" v-else>
                                        <h6 style=" color: black;"><strong>{{price.user_count}}</strong> Pengguna Terdaftar</h6>
                                    </div>
                                    <div class="pricing-content">
                                        <ul style="padding: 20px;">
                                              <li style="border-bottom: 0px solid #e9e9e9;padding: 8px 0 0px 0;" v-for="item in price.features">
                                                {{ item }}
                                              </li>                                            
                                        </ul>
                                    </div>
                                    <div class="pricing-action" style="background: #fff;">
                                        <a href="#" class="btn btn-medium btn-theme" style="border-radius:25px;border: 0px solid #000;background: #008fee;color: black !important;" v-if="price.is_bestseller"><strong>{{pricebuttonwording}}</strong></a>
                                        <a href="#" class="btn btn-medium btn-theme" style="border-radius:25px;border: 2px solid #000;background: #fff;color: black !important;" v-else><strong>{{pricebuttonwording}}</strong></a>
                                    </div>
                                </div>
                            </div>
                        
                    
                </div>
            </div>
        </section>
</template>

<script>
export default {
        props:{
        'widetitle':String,
        'pricebuttonwording':String,
        'widesubtitle':String,
    },
  data() {
    return {
      // variable array yang akan menampung hasil fetch dari api
      pricing: []
    };
  },
  created() {
    this.loadData();
  },
  methods: {
    loadData() {
      // fetch data dari api menggunakan axios
      axios.get("http://localhost:8000/api/pricing").then(response => {
        // mengirim data hasil fetch ke varibale array persons
        console.log(response.data);
        this.pricing = response.data;
      });
    },
  }
};
</script>

