<template>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="span12">
                        <div class="row">
                                <div class="span4" v-for="(images,index) in JSON.parse(flyleftmenuimage)">
                                    <div class="box flyLeft">
                                        <div class="text">
                                            <div class="pricing-box-wrap animated-fast flyIn animated fadeInUp" style="border: 0px solid #e6e6e6;">
                                                <div class="pricing-heading" style="height: 150px;background: #fff;">
                                                    <h4><img :src="images" style="max-height: 100%;max-width: 100%;width: auto;height: auto;position: absolute;top: 0;bottom: 0;left: 0;right: 0;margin: auto;"></h4>
                                                </div>
                                                <div class="pricing-terms" style="background: #fff;border: 0px solid #e6e6e6;">
                                                    {{ JSON.parse(flyleftmenuwording)[index] }}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
        name: "Sectioncontent",
            props:{
                'flyleftmenuimage':Object,
                'flyleftmenuwording':Object,
            },
 mounted() {
            console.log('Sectioncontent Component Mounted');
    }
};
</script>

