<template>

        <header>
            <div class="top">
                <div class="container">
                    <div class="row">
                        <div class="span6">
                            <p class="topcontact"><img src="assets/top-badge.png" alt="" />&nbsp;{{topbadgetitle}}</p>
                        </div>
                        <div class="span6">

                            <ul class="social-network">
                                <li><i class="icon-phone icon-white"></i> 0274-5305505</li>
                                <li><i class="icon-comment icon-white"></i> Live Chat</li>
                                <li><i class="icon-user icon-white"></i> Member Area</li>
                            </ul>

                        </div>
                    </div>
                </div>
            </div>
            <div class="container">


                <div class="row nomargin">
                    <div class="span3">
                        <div class="logo">
                            <a href="index.html"><img src="<?php echo $logo; ?>" alt="" /></a>
                        </div>
                    </div>
                    <div class="span9">
                        <div class="navbar navbar-static-top">
                            <div class="navigation">
                                <nav>
                                    <ul class="nav topnav">
                                        
                                            <li v-for="items in JSON.parse(listmenu)" class="dropdown">
                                                <a href="index.html"> {{items}}</a>
                                            </li>
                                        
                                    </ul>
                                </nav>
                            </div>
                            <!-- end navigation -->
                        </div>
                    </div>
                </div>
            </div>
        </header>
</template>

<script>
export default {
        name: "Sectionheader",
            props:{
                'topbadgetitle':String,
                'listmenu':Object
            },

 mounted() {
            console.log('Sectionfeatured Component Mounted');
    },
};
</script>

