<template>
<section id="featured">
            <!-- slideshow start here -->
            <div class="camera_wrap" id="camera-slidea">
                <div data-src="img/slides/camera/slide1/img1.jpg">
                    <div class="camera_caption fadeFromLeft">
                        <div class="container">
                            <div class="row">
                                <div class="span6">
                                    <h2 class="animated fadeInDown" style="font-family: 'Montserrat';font-weight: bold;"><bold><strong>{{maintitle}}</strong></bold></h2>
                                    <p class="animated fadeInUp" style="font-size: 35px;line-height: 1em;">{{maindescription}}</p>
                                   <ul style="list-style: none; margin-left:-5px">
                                    <li v-for="item in JSON.parse(listheadermenu)" style="line-height: 2em;">
                                        <img src="assets/greencheck.png" style="width: 20px">&nbsp;{{ item }}
                                    </li>
                                    </ul>
                                </div>
                                <div class="span6">
                                    <img src="assets/server.png" alt="" class="animated bounceInDown delay1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
</template>

<script>
export default {
        name: "Sectionfeatured",
            props:{
                'maintitle':String,
                'maindescription':String,
                'listheadermenu':Object
            },

 mounted() {
            console.log('Sectionfeatured Component Mounted');
    },
  data() {

  },
  created() {
  },
  methods: {

  }
};
</script>

